.AudioList {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 3fr;
  max-width: 800px;
  margin: 0 auto;
}

.author {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1 / auto;
  align-items: center;
  padding: 10px;

  img {
    width: 60px;
  }

  h2 {
    color: #FFF;
    margin: 0px 0px 0px;
    font-size: 16px;
  }
}

.bites {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-gap: 15px;
}

@media all and (min-width: 426px) {
  .AudioList {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 3fr;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .author {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / auto;
    align-items: center;
    padding: 10px;

    img {
      width: 75px;
    }
  }
  
  .bites {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 105px);
    grid-gap: 10px;
  }
}
